html, body {
    font-family: 'Montserrat', sans-serif;
    color:#FCF7E0;
}
body {
    background-color:white;
    background-image:url(image/abstract-active-ash-color-235807-blurred.jpg);
    background-size:cover;
    background-attachment: fixed;
    margin:0;
}
#beta-ribbon {
    z-index: 800;
    position: fixed;
    top: -30px;
    right: -5px;
    background: #16BAE7;
    width: 50px;
    height: 200px;
    font-size: 40px;
    text-align: center;
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    box-shadow: 0 0 5px #16BAE7;
    cursor:pointer;
}
.blocker {
    background-color:rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:500;
}
.modal {
    background: white;
    color:#0F0F0F;
    z-index:200;
}
.modal a, .modal a:active, .modal a:visited, .modal a:hover, .modal a:link {
    color:#0F0F0F;
}
.hidden {
    display:none;
    visibility:hidden;
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 2s step-start 0s infinite;
  -webkit-animation: blink 2s step-start 0s infinite;
}
a, a:active, a:link, a:visited, a:hover {
    color:#FCF7E0;
    text-decoration:none;
}
.fas.fa-external-link-square-alt,
.fas.fa-bullseye {
    cursor: pointer;
}
h1 {
    width:100%;
    text-align:center;
    font-size:36px;
    line-height:36px;
    color:#16BAE7;
}
form {
    width:800px;
    position:absolute;
    left:50%;
    top:150px;
    margin-left:-400px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}
.loading {
    color:#16BAE7;
    top:130px;
    right:5%;
    position:fixed;
}
button[type=submit] {
    width: 50px;
    border: none;
    background: transparent;
    color:#E3DECA;
    position: absolute;
    right: 0;
    top: 10px;
}
[readonly] {
    font-family: 'Montserrat', sans-serif !important;
    background: white !important;
    color: #1A1E1F !important;
}
textarea,
input[type=text] {
    border:none;
    border-color:#ccc;
    border-radius:15px;
    height:20px;
    width:100%;
    padding:8px 43px 8px 13px;
    outline-width: 0;
    font-size:16px;
    line-height:18px;
    color:#0F0F0F;
    box-shadow: 1px 1px 5px black;
    resize:none;
}
#image-copyright {
    position:fixed;
    bottom:10px;
    right:20px;
    font-size:13px;
    line-height:14px;
    text-align:right;
}
#image-copyright a {
    color:#16BAE7;
}
#phoenix-info {
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:13px;
    line-height:14px;
    text-align:left;
}
.link-list {
    padding-bottom: 10px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-top: 10px;
}
.link-list .source-logo {
    max-height:32px;
    position:absolute;
    left:5px;
    top:5px;
}
.link-list button {
    border: none;
    color: white;
    background: #16BAE7;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top:55px;
    cursor:pointer;
}
.link-list button:hover {
    background: #0C7896;
}
.link-list [name=goto] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.link-list [name=details] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:1px solid black;
}
.link-list > a {
    display: block;
    justify-content: space-between;
    position:relative;
    width:100%;
}
.link-list p {
    display: block;
    background: #16BAE7;
    border-radius: 10px;
    padding: 5px 10px;
    color:white;
    box-shadow: 1px 1px 3px black;
    overflow: hidden;
    position:relative;
}
p .type {
    position:absolute;
    right:10px;
    top:10px;
    max-width:20px;
}
a:hover > .source-tooltip {
    opacity:1;
}
.source-tooltip {
    opacity:0;
    position: absolute;
    left: 0;
    border-radius: 10px;
    background-color: #333D3F;
    color: #FD5A2F;
    font-size: 10px;
    font-weight:bold;
    padding: 2px 5px;
    margin:0 10px;
    height: 20px;
    width: 120px;
    box-shadow: 0px 0px 2px black;
}
.link-list p[data-card-type=idea] {
    background: #16DDE7;
}
.link-list p:hover {
    opacity:1;
    box-shadow: 0px 0px 2px black;
}
.link-list p#single {
    margin-right:0;
    width: 100%;
}
.link-list p span {
    display:inline-block;
    width: 70%;
    margin-left: 32%;
    text-align: left;
}
.link-list p span.date {
    font-weight:bold;
    font-size:10px;
    line-height:10px;
}
.link-list p span.title {
    font-weight:bold;
    font-size:14px;
    line-height:16px;
    padding:5px 0;
}
.link-list p span.id {
    font-weight:bold;
    font-size:10px;
    line-height:10px;
}
.link-list p span.relevancy {
    font-weight:bold;
    font-size:14px;
    line-height:15px;
}
.link-list p span.keywords {
    font-weight:bold;
    font-size:12px;
    line-height:12px;
}
.link-list p span.screenshot {
    position:absolute;
    left:0;
    top:0;
    display:block;
    width:30%;
    height:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
    background-image:url(image/placeholder.png);
}
.link-list p a, .link-list p a:link, .link-list p a:visited, .link-list p a:hover, .link-list p a:active {
    color:#635C3B;
    width: 100%;
    display:inline-block;
}
.link-list .plus {
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
}
.link-list .edit {
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}
.jquery-modal fieldset {
    border:none;
}
.jquery-modal input[type=text] {
    width:380px;
    margin-bottom:10px;
    border-radius:2px;
    box-shadow:none;
}
.jquery-modal textarea {
    width:380px;
    height:200px;
    margin-bottom:10px;
    border-radius:2px;
    box-shadow:none;
}
.jquery-modal .save,
.jquery-modal .edit {
    display:inline-block;
    position:absolute;
    right:30px;
}

#log {
    position:fixed;
    right:5%;
    top:150px;
    overflow:hidden;
    display:block;
    z-index:1000;
}
#log p {
    color:#16BAE7;
}
#log .notification {
    opacity:0;
    background:white;
    border-radius:5px;
    padding:0 10px;
    text-align:right;
    width:200px;
}
#log .error {
    opacity:0;
    background:white;
    border-radius:5px;
    padding:0 10px;
    text-align:right;
    width:200px;
}
#log .error p {
    color:red;
}

#favourites {
    position: fixed;
    left: 5%;
    top: 150px;
    display: block;
    z-index: 400;
    max-height: 75%;
    overflow: overlay;
    width: 250px;
}
#favourites p {
    color: #16BAE7;
    padding: 5px 10px;
    display: block;
    overflow: hidden;
}
#favourites .fas.fa-star {
    width: 20px;
    height: 100%;
    display: block;
    float: left;
}
#favourites .card-title {
    float: right;
    width: 155px;
    overflow: hidden;
    display: block;
}
#favourites .favourite {
    opacity:0;
    background:white;
    border-radius:5px;
    padding:0 10px;
    text-align:left;
    width:200px;
    cursor:pointer;
}
.fa-star {
    cursor:pointer;
}
#detail .fa-bullhorn {
    cursor:pointer;
    position: absolute;
    right: 30px;
}

#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    z-index:1;
    overflow:hidden;
}

#header .logo {
    position:absolute;
    left:50%;
    top:0;
    width:400px;
    height:100px;
    margin-left:-200px;
    z-index:10;
}

#header .dot-space {
    background-color:#0F0F0F;
    width:100%;
    height:98px;
    border-top:1px solid #333D3F;
    border-bottom:1px solid #333D3F;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 90%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

#header .dot {
    position:relative;
    float:left;
    background-color: #1A1E1F;
    width:4px;
    height:4px;
    margin-left:1px;
    margin-top:1px;
    z-index:3;
}

#header .dot.active {
    background-color: #FD5A2F;
    box-shadow: 0 0 3px #FD5A2F;
}

.fa-notes-medical {
    cursor:pointer;
}

.user-name {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 99px;
    margin-left: -200px;
    padding: 0;
    text-align: center;
    cursor:pointer;
}

#analytics {
    visibilty:hidden;
    display:none;
    width:400px;
    min-height:400px;
    position:fixed;
    bottom:30px;
    left:10px;
    background-color: #0F0F0F;
    padding:10px;
    font-size:12px;
    line-height:14px;
    z-index:600;
}

#analytics table {
    width:100%;
}

#analytics tr td {
    border-bottom: 1px solid #333D3F;
}

#analytics tr td:nth-child(2) {
    text-align: right;
}

#analytics .log {
    font-family:Courier New;
    font-size:10px;
    line-height:10px;
}

#analytics .logo {
    position:absolute;
    top: 0px;
    left: 50%;
    margin-left: -82px;
    z-index: 10;
}

#analytics .header {
    position:absolute;
    left: 0px;
    top: 0px;
    width:418px;
    height:60px;
    border:1px solid #333D3F;
    background-color: #0F0F0F;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 90%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

#analytics h3 {
    margin-top:60px;
}

#analytics .analytics-dot {
    position:relative;
    float:left;
    background-color: #1A1E1F;
    background-color: #FD5A2F;
    width:4px;
    height:4px;
    margin-left:1px;
    margin-top:1px;
    z-index:3;
}

#shout-out {
    display:none;
    position: fixed;
    width: 600px;
    height: 120px;
    background: #16BAE7;
    top: 30%;
    left: 50%;
    margin-left: -300px;
    margin-top: -60px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    z-index: 700;
}

#shout-out .fa-times-circle {
    color:black;
    cursor:pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

#shout-out fieldset {
    border:none;
}

#shout-out p {
    text-align: center;
}

#shout-out input[type=text] {
    width: 510px;
    box-shadow:none;
}

.shout-outs {
    width: 100%;
}

.shout-out {
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    margin: 5px 0;
}

#mobile-notice {
    display:none;
    position: fixed;
    width: 360px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    background: #16BAE7;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    z-index: 600;
    padding: 20px;
}

#mobile-notice a {
    width:120px;
    height:20px;
    padding:5px 20px;
    background: black;
    color: white;
}

#mobile-notice a:hover {
    color: black;
    background: white;
}

#mobile-notice a:nth-child(2) {
    position:absolute;
    left:20px;
    bottom:20px;
}

#mobile-notice a:nth-child(3) {
    position:absolute;
    right:20px;
    bottom:20px;
    text-align: right;
}

#detail {
    position: absolute;
    left: 15px;
    background-color: #16BAE7;
    padding-top: 200px;
    font-size: 12px;
    line-height: 14px;
}

#detail .screenshot {
    position:absolute;
    width:100%;
    height:200px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(image/placeholder.png);
    left:0;
    top:0;
}

#detail input[type=text],
#detail textarea {
    width: 87%;
    font-size: 12px;
    line-height: 14px;
}

.flash-card {
  -moz-animation: flash_card 2s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: flash_card 2s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: flash_card 2s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes flash_card {
    0% { box-shadow: 0px 0px 10px black; }
    50% { box-shadow: 0px 0px 10px #16BAE7; }
    100% { box-shadow: 0px 0px 10px black; }
}

@media only screen and (max-width: 1400px) {
    /*#mobile-notice {
        display:block;
    }*/
}