html, body {
    font-family: 'Montserrat', sans-serif;
    color:#FCF7E0;
}
h1 {
    font-family: 'Shrikhand', sans-serif;
    color:black;
    mix-blend-mode: multiply;
    opacity: 40%;
    font-size:60px;
    line-height:60px;
    text-align:center;
}
body {
    background-color:white;
    background-image:url(image/marble-surface-wall-white-1323712-inverted.jpg);
    background-size:cover;
    background-attachment: fixed;
    margin:0;
}

#beta-ribbon {
    z-index: 800;
    position: fixed;
    top: -30px;
    right: -5px;
    background: #16BAE7;
    width: 50px;
    height: 200px;
    font-size: 40px;
    text-align: center;
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    box-shadow: -3px -3px 5px black;
    cursor:pointer;
}

a, a:active, a:link, a:visited, a:hover {
    color:#FCF7E0;
    text-decoration:none;
}

.sphere {
    position:absolute;
    top:0px;
    left:0px;
    mix-blend-mode: lighten;
    pointer-events: none;
}

#marbles {
    position:fixed;
    left:50%;
    top:50%;
    width:400px;
    height:400px;
    margin-left:-200px;
    margin-top:-200px;
}

#marbles .marble {
    position:absolute;
    width:50px;
    height:50px;
    border-radius:25px;
    background:white;
    box-shadow: 2px 2px 4px black;
    cursor:pointer;
}

#marbles .marble.on:hover {
    opacity:1;
    box-shadow: 0px 0px 5px #16BAE7;
}

#marbles .marble .logo {
    position:absolute;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
    margin-left:-16px;
    margin-top:-16px;
}

#marbles .marble .sphere {

}

#marbles .marble:nth-child(1) {
    top:15%;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
}

#marbles .marble:nth-child(2) {
    top:25%;
    right:25%;
    margin-right:-25px;
    margin-top:-25px;
}

#marbles .marble:nth-child(3) {
    top:50%;
    right:15%;
    margin-right:-25px;
    margin-top:-25px;
}

#marbles .marble:nth-child(4) {
    bottom:25%;
    right:25%;
    margin-right:-25px;
    margin-bottom:-25px;
}

#marbles .marble:nth-child(5) {
    bottom:15%;
    left:50%;
    margin-left:-25px;
    margin-bottom:-25px;
}

#marbles .marble:nth-child(6) {
    bottom:25%;
    left:25%;
    margin-left:-25px;
    margin-bottom:-25px;
}

#marbles .marble:nth-child(7) {
    top:50%;
    left:15%;
    margin-left:-25px;
    margin-top:-25px;
}

#marbles .marble:nth-child(8) {
    top:25%;
    left:25%;
    margin-left:-25px;
    margin-top:-25px;
}

#marbles .marble.idea {
    background: #16DDE7;
}

#marbles .marble.fact {
    background: #16BAE7;
}

.modal a.close-modal, .modal a.close-modal:active, .modal a.close-modal:visited, .modal a.close-modal:hover, .modal a.close-modal:link {
    background-image: url(image/menu.png);
    background-color: white;
    top: -15px;
    right: 50%;
    margin-right:-16px;
    width:32px;
    height:32px;
    border-radius:16px;
}
.modal a.close-modal:hover {
    box-shadow: 0px 0px 10px white;
}
.modal a, .modal a:active, .modal a:visited, .modal a:hover, .modal a:link {
    color:#0F0F0F;
}

.modal {
    background-color:white;
    background-image:url(image/marble-surface-wall-white-1323712.jpg);
    background-size:cover;
    background-attachment: fixed;
    color:#0F0F0F;
    z-index:200;
    box-shadow:3px 3px 8px black;
}
.blocker {
    background-color: transparent;
}

.modal a.bottom-close {
    text-align:right;
    display:block;
}

#globe {
    position:fixed;
    left:50%;
    top:50%;
    width:100px;
    height:100px;
    border-radius:50px;
    margin-left:-50px;
    margin-top:-50px;
    background: #fd5a2f;
    box-shadow: 3px 3px 6px black;
    cursor:pointer;
}

#globe .logo {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 32px;
    height:32px;
    margin-left: -16px;
    margin-top: -16px;
    mix-blend-mode: screen;
}

#globe p {
    text-align: center;
    font-weight:bold;
    margin-top:30px;
}

#image-copyright {
    position:fixed;
    bottom:10px;
    right:0;
    font-size:13px;
    line-height:14px;
    text-align:center;
    width:100%;
}
#image-copyright a {
    color: white;
}

.off {
    opacity:0.5;
    background-color: black !important;
}

.off .sphere {
    opacity:0.5;
}

.on {
    opacity:1;
}

#logo {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 250px;
    height: 100px;
    margin-left: -125px;
    z-index: 0;
    mix-blend-mode: multiply;
    opacity: 40%;
}

#show-favourites {
    display:block;
    background-color:white;
    background-image:url(image/marble-surface-wall-white-1323712.jpg);
    background-size:cover;
    background-attachment: fixed;
    width:230px;
    height:20px;
    padding:10px;
    border-radius:10px;
    box-shadow:1px 1px 3px black;
    position:fixed;
    left:50%;
    bottom:50px;
    margin-left:-125px;
    color:black;
    cursor:pointer;
}

#favourites {
    display:none;
    position:fixed;
    bottom:100px;
    right:0px;
    width:90%;
    overflow:hidden;
}

.favourite {
    display:block;
    background-color:white;
    background-image:url(image/marble-surface-wall-white-1323712.jpg);
    background-size:cover;
    background-attachment: fixed;
    color:black;
    width:100%;
    height:20px;
    padding:10px;
    border-radius:10px 0 0 10px;
    margin:5px;
    box-shadow:3px 3px 5px black;
    overflow:hidden;
}

#search {
    display:none;
    width:400px;
    position:fixed;
    height:30px;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-15px;
    box-shadow:3px 3px 5px black;
}

#search input {
    width:350px;
    padding:5px 40px 5px 10px;
    background:white;
    border:none;
    border-radius:10px;
    height:20px;
    font-size:18px;
    line-height:20px;
}

#search button {
    border:none;
    background:transparent;
    position:absolute;
    right:10px;
    top:8px;
    cursor:pointer;
}

.shouted {
  -moz-animation: flash_card 1.5s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: flash_card 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: flash_card 1.5s ease-out;
  -ms-animation-iteration-count: infinite;
}

.loading {
  -moz-animation: loading 1.5s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: loading 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: loading 1.5s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes loading {
    0% { box-shadow: 3px 3px 6px black; }
    50% { box-shadow: 0px 0px 40px #fd5a2f; }
    100% { box-shadow: 3px 3px 6px black; }
}

@keyframes flash_card {
    0% { box-shadow: 2px 2px 4px black; }
    50% { box-shadow: 0px 0px 20px #16BAE7; }
    100% { box-shadow: 2px 2px 4px black; }
}