.color-constantly-bright { color: #FCF7E0; }
.dark .color-constantly-bright { color: #F1ECDF; }

/* Default Theme */
.color-strong { color: #5DC4DC; }
.color-murky { color: #635C3B; }
.color-middling { color: #F1B94A; }
.color-dark { color: #14121F; }
.color-bright { color: #FCF7E0; }
.background { background-color: #FCF7E0; }
.background-strong { background-color: #5DC4DC; }
.gradient {
    background: rgb(199,194,170);
    background: linear-gradient(130deg, rgba(199,194,170,1) 0%, rgba(252,247,224,1) 8%, rgba(252,247,224,1) 100%);
}

/* Dark Theme */
.dark .color-strong { color: #271959; }
.dark .color-murky { color: #E94792; }
.dark .color-middling { color: #652A8C; }
.dark .color-dark { color: #F1ECDF; }
.dark .color-bright { color: #070E26; }
.dark .background { background-color: #271959; }
.dark .background-strong { background-color: #E94792; }
.dark .gradient {
    background: rgb(59,24,83);
    background: linear-gradient(130deg, rgba(59,24,83,1) 0%, rgba(101,42,140,1) 8%, rgba(101,42,140,1) 100%);
}

body {
    background-color:white;
    background-image:url(austria-dawn-desktop-backgrounds-1323550.jpg);
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}
body.dark {
    background-image:url(calm-body-of-water-1363876.jpg);
}
a, a:active, a:link, a:visited, a:hover {
    text-decoration:none;
}
h1 {
    width:100%;
    text-align:center;
    font-size:36px;
    line-height:36px;
}
form {
    width:800px;
    height:180px;
    position:absolute;
    left:50%;
    margin-left:-400px;
    top:20px;
    display:block;
    text-align:center;
}
form.center {
    top:50%;
    margin-top:-90px;
}
button[type=submit] {
    margin-left: -50px;
    width: 50px;
    border: none;
    background: transparent;
    color:#E3DECA;
}
input[type=text] {
    border:none;
    border-color:#ccc;
    border-radius:15px;
    height:20px;
    width:700px;
    padding:8px 13px;
    outline-width: 0;
    font-size:16px;
    line-height:18px;
    color:#635C3B;
    box-shadow: 1px 1px 5px #635C3B;
}
.cards {
    position: absolute;
    left:50%;
    margin-left:-400px;
    top:200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}
.card {
    position:relative;
    flex-grow: 1;
    width: 200px;
    min-height:200px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #635C3B;
    font-size: 12px;
    line-height: 12px;
}
.card h3 {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 5px 0;
    text-align: center;
}
.card .change {
    display:inline-block;
    text-align:center;
    width:100%;
    margin: 0 0 10px 0;
}
.card .keywords {
    position:absolute;
    left:10px;
    bottom:10px;
    font-size:10px;
    line-height:12px;
    max-width:90px;
}
.card .users {
    position:absolute;
    right:5px;
    bottom:5px;
    max-width:90px;
    font-size:12px;
    line-height: 40px;
    text-align: center;
}
.card .users .user {
    width:40px;
    height:40px;
    border-radius:20px;
    box-shadow: 0.5px 0.5px 1px #635C3B;
}
#image-copyright,
#image-copyright-dark {
    position:fixed;
    bottom:10px;
    right:20px;
    font-size:13px;
    line-height:14px;
    text-align:right;
}
#phoenix-info {
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:13px;
    line-height:14px;
    text-align:left;
}
body #image-copyright-dark {
    display:none;
}
body.dark #image-copyright-dark {
    display:inline;
}
body.dark #image-copyright {
    display:none;
}